p {

  font-weight: 300;
}
.pwBox-wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
}

.codeword-wrapper.trainingMission > h3 {
  margin-block-end: 0;
}
.codeword-wrapper.trainingMission >button {
  background-color: var(--blue);
  color: white;
  border-radius: 1rem;
}
.codeword-wrapper.trainingMission >button:hover {
  background-color: var(--orange);
}

/* SHOW NOTHING ON A PHONE  */
@media screen and (max-width: 450px) {
  .audio-container {
    display: none !important;
  }
  main {
    display: none !important;
  }
  .phone-warning {
    display: initial;
    text-align: center;
  }
  .phone-warning > p {
    text-align: center;
  }
  .multiple-btn-wrapper {
    display: none !important;
  }
}

/* DESKTOP */

.desktop > header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin: -3rem 0rem 0rem -3rem;
  margin-bottom: 5rem;
  background: grey;
  padding: 1rem 2rem;
  .header-item {
    width: 100%;
    display: flex;
    justify-content: center;
    span {
      margin-inline-end: 1.5rem;
      img {
        max-height: 20px;
      }
    }
  }
}

.desktop > header > .header-item.menus {
  justify-content: start;
}
.desktop > header > .header-item.symbols {
  justify-content: end;
}

.grid-container {
  display: grid;
  grid-template-areas:
    ". file chat"
    "sfs . chat"
    ". . chat";
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  height: 100vh;
  gap: 2rem;
}

.folder-container,
.doc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 6rem;
  }
}

.doc-container > #codewordWrapper > .code-input,
.sfsMount > #codewordWrapper > .code-input {
  input {
    min-width: inherit;
    max-width: 10rem;
    margin-block-end: 1rem;
    padding: 0.3rem;
    font-weight: 900;
    color: black;
    &:focus {
      color: white;
    }
  }
}

.doc-container > #codewordWrapper,
.sfsMount > #codewordWrapper {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  .button-wrapper {
    button {
      font-size: 1.2rem;
    }
  }
}

.sfsMount {
  border: 3px solid white;
  background-color: darkred;
  padding: 1rem;
  grid-area: sfs;
  width: fit-content;
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button,
  img {
    background-color: transparent;
    width: 7rem;
    border: none;
  }
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2.3rem;
    margin-block-end: 0;
    text-align: center;
  }
}

.sfsMount.green {
  background-color: rgb(44, 170, 35);
}

.sfsMount.purple {
  background-color: rgb(95 62 119);
}

.sfsMount.purple > p{
  text-align: center;
}

.fileMount {
  grid-area: file;
  width: fit-content;
}

.chatMount {
  grid-area: chat;
  display: flex;
  justify-content: end;
  align-items: end;
}

/* CHAT  */

.chat {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #f5deb34f;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: end;
  overflow: scroll;
}

.chat > .messages-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.chat > .messages-container > .message {
  display: flex;
  gap: 1rem;
  background-color: rgb(203, 198, 198);
  margin-block-end: 1rem;
  border-radius: 1rem;
  color: black;
  padding: 1rem;
  width: fit-content;
}

.chat > .messages-container > .message > .avatar {
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.chat > .messages-container > .message > .message-container {
  display: flex;
  flex-direction: column;
}

.chat > .messages-container > .message > .message-container > .sender {
  font-size: 1.2rem;
}

.chat > .messages-container > .message > .message-container > p {
  margin-block-end: 0;
  font-size: 1.8rem;
  line-height: 2.5rem;
}


/* OFFICE DESKTOP START MISSION  */

.menuWrapper{
  display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem
}
.trainingMission{
  max-width: 30rem;
    border: solid var(--orange) 4px;
    background: rgb(205 219 220);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 color:black;
    gap:2rem;
    height: 100%;
}
.trainingMission > h2{
  margin-block-end: 0;
  color: black;
  text-align: center;
}

.trainingMission > img{
  max-width: 12rem;
}

.trainingMission > .button-wrapper{
  padding: 0.2em;
  background: var(--orange);

}

.code-input.pwBox >input[type=text]{
  min-width: inherit;
}

.trainingMission > .button-wrapper > button, .trainingMission > .button-wrapper > a{
  padding: 0.3rem;
  line-height: inherit;
}


.trainingMission > .button-wrapper > button:hover, .trainingMission > .button-wrapper > a:hover{
 text-decoration: underline;
}